# Formular-Zustellung (FormSubmit.co – kein API-Key nötig, kostenlos)
# Nach dem ersten Test-Versand muss der Aktivierungslink in der E-Mail
# von FormSubmit.co einmalig bestätigt werden.
VITE_FORM_ENDPOINT=https://formsubmit.co/ajax/deine-email@beispiel.ch
VITE_CONTACT_ENDPOINT=https://formsubmit.co/ajax/deine-email@beispiel.ch
